extends layout

block body
  .container-fluid(ng-controller='AppCtrl')
    .row
      .col-md-11.col-md-offset-1
        h2.pull-left Timeline

    .row
      .well.col-md-10.col-md-offset-1

        .btn-group.pull-right
          button.btn.btn-default Left
          button.btn.btn-default Right

        .btn-group.pull-right(style='margin-right: 15px')
          button.btn.btn-default Day
          button.btn.btn-default Month
          button.btn.btn-default Year

    .row
      .col-md-1.col-md-offset-1
        .list-group
          a.list-group-item(ng-click='loadDataSet(1)') Data1
          a.list-group-item(ng-click='loadDataSet(2)') Data2

      .col-md-9

        time-line(items='items',
        timeline='timeline',
        customTime='customTime')

        br
        form.form-inline(role='form')
          .form-group(style='margin-right: 15px')
            label.sr-only Custom time:
            input.form-control(type='date',
            ng-model='customDate')
          button.btn.btn-default(type='submit',
          style='margin-right: 15px',
          ng-click='timeline.setCustomTime(customDate)') Set custom time
          span {{timeline.customDate}}

        br
        button.btn.btn-default(ng-click='getCustomTime()',
        style='margin-right: 15px') Get Custom Time
        span {{gotCustomDate}}

        br
        br
        form.form-inline(role='form')
          .form-group(style='margin-right: 15px')
            label.sr-only Selection:
            input.form-control(type='text',
            ng-model='selection')
          .btn-group(style='margin-right: 15px')
            button.btn.btn-default(type='submit',
            ng-click='setSelection(selection)') Set selection
            button.btn.btn-default(ng-click='getSelection()',
            style='margin-right: 15px') Get Selection
          span {{gotSelection}}

        br
        form.form-inline(role='form')
          .form-group(style='margin-right: 15px')
            label.sr-only Start:
            input.form-control(type='date',
            ng-model='start')
          .form-group(style='margin-right: 15px')
            label.sr-only End:
            input.form-control(type='date',
            ng-model='end')
          button.btn.btn-default(type='submit',
          style='margin-right: 15px',
          ng-click='setWindow(start, end)') Set window

        br
        button.btn.btn-default(ng-click='getWindow()',
        style='margin-right: 15px') Get Window
        span {{gotWindow}}

        br
        br
        .btn-group
          button.btn.btn-default(ng-click='setOptions({orientation: "top"})') Timeline header top
          button.btn.btn-default(ng-click='setOptions({orientation: "bottom"})') Timeline header bottom

block live-reload
  script(src='http://localhost:35729/livereload.js?snipver=1')